:root {
    --wa-day-container-width: 620px;
    --wa-day-container-height: 720px;
}

.container {
    display: flex;
}

.timeline {
    padding-inline: 10px;
    height: var(--wa-day-container-height);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    position: relative;
}

.timeline-hour {
    font-weight: 600;
    line-height: 0;
    height: 30px;
    font-size: 16px;
    text-align: end;
}

.timeline-hour:nth-of-type(even) {
    font-size: 12px;
}

.timeline-hour:last-of-type {
    height: 0;
}

.timeline-hour span {
    font-weight: 400;
    font-size: 10px;
}

.events {
    box-sizing: border-box;
    padding-inline: 10px;
    width: var(--wa-day-container-width);
    height: var(--wa-day-container-height);
    background-color: lightgray;
    flex-shrink: 0;
}