:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --wa-background-color: #fff;
    --wa-color: #000;
    --wa-primary: #1177ff;
    --wa-day-container-width: 620px;
    --wa-day-container-height: 720px;
    --wa-border-color: gray;

    color: var(--wa-color);
    background-color: var(--wa-background-color);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {

}

#root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.container {
    display: flex;
}

.timeline {
    padding-inline: 10px;
    height: var(--wa-day-container-height);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    position: relative;
}

.timeline-hour {
    font-weight: 600;
    line-height: 0;
    height: 30px;
    font-size: 16px;
    text-align: end;
}

.timeline-hour:nth-of-type(even) {
    font-size: 12px;
}

.timeline-hour:last-of-type {
    height: 0;
}

.timeline-hour span {
    font-weight: 400;
    font-size: 10px;
}

.events {
    flex-grow: 1;
    box-sizing: border-box;
    padding-inline: 10px;
    width: var(--wa-day-container-width);
    height: var(--wa-day-container-height);
    background-color: lightgray;
    flex-shrink: 0;
    position: relative;
}

p {
    margin: 0;
}

.event-card {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid var(--wa-border-color);
    border-inline-start-width: 8px;
    border-inline-start-color: var(--wa-primary);
    background-color: var(--wa-background-color);
    display: flex;
    flex-direction: column;
    padding: .25rem;
    line-height: 1;
    overflow: auto;

    left: attr(data-left %);
    width: attr(data-width %);
    top: attr(data-top px);
    height: attr(data-height px);
}

.event-card h2 {
    font-size: 16px;
    font-weight: 600;
    color: var(--wa-primary);
    margin: 0;
}

.event-card p {
    font-size: 12px;
    margin: 0;
}